/*Fonts Used*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Open+Sans:400,400i');

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select{-webkit-appearance: none;}
form, label {-webkit-text-size-adjust: 100%;}
mark {background-color: transparent;}
/* end reset */

/*preset*/
body{font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 22px;  color:#333;position:relative;}
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.comp{color:#0353a1; font-weight:bold; }
.comingsoon{color:red; font-style:italic; font-weight:bold;}
.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
.col2 li, .col3 li{overflow: hidden; display: inline-block; width: 100%;}
.main_phone {font-weight: bold;}

.back_top{display:none;background:#090a0b;position: fixed; z-index:999;bottom:0;width: 100%;height: 45px;cursor:pointer;}
.back_top:before{content:"";position:absolute;top:45%;left:50%;transform:translate(-50%,-45%);border-bottom:15px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;}
.back_top:hover{opacity:.7}

/*Heading for SEO*/
.h1_hdng{font-size: 22px; font-weight: 700; color: #000;}

/*Thumbnail Images*/
.thumb_left_dd, .thumb_left_dr{  float:left; margin:-4px 19px 10px 0;}
.thumb_right_dd, .thumb_right_dr{ float:right; margin:-4px 0 10px 19px;}
.thumb_center_dd, .thumb_center_dr{ display: block; margin: 10px auto;}

/* Text Alignment */
.text_left, .text_left p{text-align: left;}
.text_right, .text_right p{text-align: right;}
.text_center,.text_center p{text-align: center; display: block;}

/* Forms Presets */
::-webkit-input-placeholder {opacity: 1; color: inherit;}
::-moz-placeholder {opacity: 1; color: inherit;}
:-ms-input-placeholder {opacity: 1; color: inherit;}
:-moz-placeholder {opacity: 1; color: inherit;}

/*end preset*/

.wrapper{ width:100%; max-width:1080px; margin:0 auto; position:relative;}

/*header*/
header{}
	.header_con{min-height:0;padding:0;position: relative;}
	.main_logo{float: left;}
	.main_logo img{}
	.head_info{float: right; text-align: right;margin-top: 22px;}
	.head_info ul li{display: inline-block;}
	.header_info{position: relative;}
	.header_info mark{margin: 0 20px;}
	.header_info mark:after {content: "";width: 1px;height: 32px;background: #000;position: absolute;top: -5px;right:9px;}
	
	.header_info h2{}
	.header_info h2 span{}
	.social_media{}
	.social_media figure img{vertical-align: middle;}
	.social_media a{display: inline-block}
	.head_appointment{}
	.head_appointment a{background: #8301b8;padding: 15px;color: #fff;border-radius: 50px}

  /*end header*/




/*nav*/
.page_nav {; height: 60px; text-align: center;margin-top:-60px}
.page_nav ul{}
.page_nav ul li{display:inline-block;vertical-align: top; position:relative;}
.page_nav ul li a{display:block; font-size: 15px; font-weight: bold; color:black; text-transform: uppercase; line-height: 58px; padding:0 15px;}
.page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a, .page_nav ul li a:hover small, .page_nav ul li.current_page_item a small{text-decoration: underline;}
.page_nav ul li:after{content:"";width:1px;height:22px;background:#000; position:absolute; top:18px; right:-4px;}
.page_nav ul li:last-child:after{display:none;}

/*second level drop down*/
.page_nav ul li:hover{position: relative; z-index: 599; cursor: default;}
.page_nav ul ul {display: none; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;margin-top: 0;bottom: 0;text-transform: none;}
.page_nav ul ul li {float: none;display:block;font-weight: normal;width:100%;}
.page_nav ul ul ul {top: 0; left: auto; right: -99.5%; }
.page_nav ul ul ul {top: 0; left: auto; right: -99.5%; }
.page_nav ul li:hover > ul { display: block;}
.page_nav ul ul a, .page_nav ul li.current_page_item ul li a{width:200px;background:#799847;color:#fff;padding:0;margin:0 auto;}
.page_nav ul ul a:hover,.page_nav ul li.current_page_item ul li a:hover, .page_nav ul ul li.current_page_item a {background:#1a271a;color:#a5ff16;}

/*third level drop down*/
.page_nav ul ul ul { border-top: 0 none; }
.page_nav ul ul li { position: relative }

.page_nav span{position: absolute; right: 25px;top:32px; display: none; padding: 0; cursor: pointer; z-index: 9; color: #fff;text-align: center;}

/* Drop down icon */
.fa{display:block; margin-top: -3px;}
.fa:before{position: absolute;}

/* Navigation bar icon */
.nav_toggle_button{display:none; text-align:left;position:relative;}
.nav_toggle_button.active {opacity:1;}
.nav_toggle_button i{cursor: pointer;}

/*Burger Color*/
.nav_toggle_button .toggle_holder{position: absolute;top: 60%;right: 0;transform: translateY(-50%);}
.nav_toggle_button .hamburger{}
.nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner:before, .nav_toggle_button .hamburger-inner:after{background:#fff;}
.nav_toggle_button small{text-transform:uppercase;font-weight:bold;font-size:13px;color:#fff;display:block;}

/* Default Responsive Style for Toggle Swipe Right */
.menu_slide_right {display: none;}

/*Responsive burger and color*/
.menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner:before, .menu_slide_right .hamburger-inner:after{background:#000;}
.menu_slide_right .toggle_holder{position: absolute;top: 55%;right: 10px;transform: translateY(-50%);}
.menu_slide_right small{text-transform:uppercase;color:#000;font-weight:bold;font-size:13px;display:block;}

/*end nav*/

/*banner*/
#banner{position: relative;}
	.bnr_con{min-height:0;padding:0;}
	.box_skitter{}
	.slider{width:1920px;margin-left: -420px}
	.mobi_ban{display: none;}
	

	.bnr_info{width:480px;max-width:100%;position:absolute;top:103px;left:25px;z-index:150;min-height: 480px;border-radius: 50%;border: 5px solid black;text-align: center;padding:148px 0 0 0;background: white;}
	.bnr_info h2{font-size:22px;color:black;margin-bottom:7px;}
	.bnr_info h2 span{display:block;font-size:35px;font-weight:bold;color:black;line-height:52px;}
	.bnr_info p{font-size:16px;color:black;line-height:26px;}
	.bnr_info a{display:block;width:135px;height:34px;line-height:34px;background:#000;font-size:16px;color:#fff;text-align:center;margin:0 auto;}
	.bnr_info a:hover{background:#ddd;}
	.bnr_border{width: 530px;height: 530px;border-radius: 50%;position: absolute;left: 0;right: auto;bottom: 175px;background: rgb(255,255,255,.5);z-index: 12;}
	
	#banner::after {margin: 0 auto;max-width: 1920px;height: 142px;position: absolute;bottom: -2px;left: 0;right: 0;background: url("images/banner-arc.png") no-repeat center;content: "";z-index: 10;width: 100%;}
/*end banner*/

/*middle*/
#middle{background:#d9dcc4;}
	.middle_con{min-height:0;padding:25px 0;text-align:center;}
	.middle_boxes{position: relative;}
	.middle_boxes ul li{display: inline-block; vertical-align: top;width: 24%;height: auto; padding: 10px;background: burlywood;}
	.middle_boxes ul li:nth-child(odd){content: url("images/box-middle/2.jpg")}
	.middle_boxes ul li:nth-child(even){content: url("images/box-middle/1.jpg")}

	.middle_boxes section h2{}
	.middle_boxes section h2 span{}
	.middle_boxes section p{}
	.middle_boxes section a{display:block;width:;height:;background:#;}

	/* .middle_boxes [class^="mid_box"]{} */

/*end middle*/

/*main*/
#main_area{}
	.main_con{min-height:0;padding:25px 0;}
	main{float: right; width: 660px; line-height: 28px; max-width: 100%; text-align: left;}
		main .h1_title{font-size: 24px; font-weight: bold;line-height:30px;margin-bottom:15px;}
		main .h1_title span{font-size: 18px; font-weight: normal; display: block;}

		main p{margin-bottom:15px;}
		main ol{padding-left: 20px; margin-bottom: 15px;}
		main ul li{position: relative;}
		main .bullet {padding:0;margin-bottom: 15px;}
		main .bullet li{position:relative;padding-left: 25px;margin-bottom: 8px}
		main .bullet li:before{position: absolute;content: "";width: 10px;height: 10px;border-radius: 50%;left: 3px;top: 9px;background: #a80c0c;}
		main a{font-weight: bold; color: #4ba9cf;text-decoration: none;}
		main a:hover{color:#000;text-decoration: underline;}

		.intro_txt{text-align: center;margin-bottom: 25px;padding: 15px;border-bottom: 3px solid #a80c0c;font-weight: bold;font-size: 22px;}

/*end main*/

/*sidebar*/
.sidebar{float: left; width: 320px;}
	.side_box1{padding:10px;background:#259d31;}
	.side_box1 ul{}
	.side_box1 ul li{display: block;vertical-align: top;margin-bottom:5px;}
	.side_box1 ul li a{color: #fff; display: block; line-height: 30px; text-align: center;}
	.side_box1 ul li a:hover{}

	.side_box2{background: #603268; margin:25px auto 0;padding: 10px;}

/*end sidebar*/

/*bottom*/
#bottom1{background: url("images/bg-bottom.jpg");position: relative;}
 	.btm1_con{min-height:0;padding:25px 0;text-align:center;back}
	.btm1_boxes{height: 280px;}
	.btm1_boxes section{display: inline-block; vertical-align: top;width: 32%;height: auto; padding: 10px;background: burlywood;}
	.btm1_boxes section h2{}
	.btm1_boxes section h2 span{}
	.btm1_boxes section p{}
	.btm1_boxes section a{display:block;width:;height:;background:#;}
	.overlap_pic{}
	.overlap_pic img{position: absolute;top: -355px;;left: -236px;z-index: 2;}
	#bottom1::after {margin: 0 auto;max-width: 1920px;height: 142px;position: absolute;bottom: -2px;left: 0;right: 0;background: url("images/banner-arc.png") no-repeat center;content: "";z-index: 3;width: 100%;}

	/* .btm1_boxes [class^="btm1_box"]{} */

#bottom2{}
	 .btm2_con{min-height:0;padding:0;position: relative;}
	.btm_before{background-color: rgb(37, 163, 201);;text-align: center;}
	.btm_before ul li{z-index: 20;display: inline-block;width: 200px; padding: 20px 20px;background: black; border-radius: 50%;}
	.btm_before ul li:nth-child(odd) {content: url("images/before/1.png")}
	.btm_before ul li:nth-child(even) {content: url("images/before/2.png")}
	.btm_after{background:url("images/slider/2.jpg");height: 200px;position: relative;background-size:cover;
		background-repeat: no-repeat;color: white};

	.btm_after::before{content: "";position: absolute;background-color: rgba(0,0,0,.1);height: 100%;width:1080px;}
	.btm_after ul:before{content:url("images/mobile.png");z-index: 10;top:0;position: absolute;left:135px}
/*end bottom*/

/*footer*/
footer{}
	.footer_top{background:#ccc;}
	.footer_top_con{min-height:0;padding:0;}

		.contact_info{}
		.contact_info h2{}
		.contact_info h2 span{display:block;}
		.contact_info ul{margin:0 0 0;padding:0;list-style: none;}
		.contact_info ul li{line-height: 22px;display:block; vertical-align:top; white-space:pre-line; padding-left:30px;}
		.contact_info ul li address{display:inline-block;}
		.contact_info ul li a{font-weight: bold;}
		.contact_info ul li a[href^="tel:"] {color: inherit;}
		.contact_info ul li a:hover{text-decoration:underline;}
		.contact_info ul li:before{position:absolute;}
		.contact_info ul li:first-child:before{content:url(images/map.png);top:5px;left:0;}
		.contact_info ul li:nth-child(2):before{content:url(images/phone.png);top:5px;left:0;}
		.contact_info ul li:last-child:before{content:url(images/email.png);top:5px; left:0;}

		.footer_logo{}
		.footer_logo img{}

	.footer_btm{background:#444;}
		.footer_btm_con{min-height:0;padding:0;}

		.footer_nav{}
		.footer_nav ul{ margin: auto 0; padding: 0; text-align: center; list-style: none; }
		.footer_nav ul li{display: inline-block; vertical-align: top;position:relative;}
		.footer_nav ul li a{display: block; padding: 0 10px; color: #fff;}
		.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:underline;}
		.footer_nav ul li:after{content:"";width:1px;height:21px;top:0;right:-3px;background:#fff;position:absolute;}
		.footer_nav ul li:last-child:after{display:none;}

		.footer_comp{display:inline-block; margin:0 10px; position:relative;}
		.footer_comp:before{content:"\2022"; left:-10px; top:0; position: absolute;}
		.footer_comp:after{content:"\2022"; right:-10px; top:0; position: absolute;}

		.copyright{color:#fff; margin: 0 auto;text-align: center;}
		.copyright a{color:#fff;}
		.copyright a:hover{text-decoration:underline;}


/**Resources**/
.resources {}
.resources a {display:block;font-weight:bold; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; transition: all 0.3s linear;}
.resources a:hover {padding-left:2px; text-decoration: none!important; color: red;}
.resources ul,.resources li {list-style-type:none; margin:0; padding:0;}
.resources ul li {margin-bottom:8px; padding:12px; background:#FAFDFE;border:1px solid #ececec;}
.resources ul li:before{content:"";}
.resources ul li:after{content:"";}
.resources ul li a span {font-size:11px; color:#666666; letter-spacing:1px; display:block; overflow-wrap: break-word;word-wrap: break-word;-webkit-hyphens: auto;-ms-hyphens: auto;-moz-hyphens: auto;hyphens: auto;}

/* IE 8 */
.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd}
.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0}
.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto}
.inner-message img{position:relative;left:0}
.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff}
.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0}
.terms a{color:#fff;font-weight:700}
.lt-ie8 .protect-me{display:none}

/* Sitemap Style */
.sitemap{list-style-type: none; padding: 0; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 3px; -moz-column-gap: 3px;  column-gap: 3px;}
.sitemap li {counter-increment: step-counter; overflow: hidden;}
.sitemap li{padding:5px 15px; background: #E3E3E3;}
.sitemap li:nth-child(odd){background: #F2F2F2;}
.sitemap li a{display: block;}
.sitemap li a:before {content: counter(step-counter) '. ';}

/* Pages under Certain Parent Pages */
.sitemap ul {margin-top: 5px;}
.sitemap ul li:nth-child(odd){background: #E3E3E3;}
.sitemap ul li:nth-child(even){background: #F2F2F2;}
.sitemap ul li {counter-increment: sub-counter;}
.sitemap ul li a:before {content: counter(step-counter) '.' counter(sub-counter) ' ';}

/* Breadcrumb Styling */

.breadcrumbs {margin-bottom: 34px; border-bottom: 1px dotted gray; padding-bottom: 11px; }
.breadcrumbs span{vertical-align: bottom;display: inline-block; overflow: hidden;text-overflow: ellipsis;}
.breadcrumbs span[property='name'] {display: inline-block;padding: 0;margin-top: -3px;vertical-align: middle;max-width: 270px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color:#439b4f;}
.breadcrumbs span[property='name']:hover {text-decoration: underline;}
.breadcrumbs .post {border-radius: 0;padding: 0;margin: 0;border: none;word-wrap: normal;}
.breadcrumbs span[class='post post-page current-item'] {display: inline-block;padding: 0;max-width: 250px;white-space: nowrap;}

/* End Breadcrumb Styling */

/* Non-home */
.non_ban {position: relative;}
.non_ban_img{width: 1920px;margin-left: -420px;}
.non_ban_img img{vertical-align:middle;height:auto;}

.page_title{text-align: center;width: 100%;z-index: 2;position: absolute;bottom: 0;font-size: 44px;line-height: 100%;padding: 15px;background: rgba(0,0,0,.5);}
